<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Guided 2</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="vue.js"></script>
</head>
<body>
    <nav class="navbar navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">GAME TEBAK ANGKA</a>
            <a href="#" class="burger" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>

        </div>
    </nav>
    <div id="app" align="center">
        <p v-show="angka">Silahkan pilih Angka dibawah:</p>
        <ul v-for="(i,index) in angka":key="index">
            <p>{{i}}</p>
        </ul>
        <br>
        <div>
            <p>Tekan Start untuk memulai:</p>
<!--            <p>{{chosenName}}</p>-->
            <input v-model="chosenName" type="password">
        </div>
        <br>
        <button @click="picker">Start Game</button>
        <br>
        <div>
            <p>Tebak Angka Dia:</p>
            <input v-model="pilih" placeholder="Tebak angka dia...">
            <span v-if="temp<3">
                <button @click="tebak">tebak</button>
                <p>{{jawaban}}</p>
            </span>
            <span v-else-if="temp==2">
                <button :disabled="isActive" @click="tebak">tebak</button>
            </span>
        </div>
        <button @click="restart">Restart</button>
        <footer class="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>{{footer}}</p>
                        <div class="credits">
                            Designed by Timotius
                        </div>
                    </div>
                    <div class="col-sm-6 social text-md-right">
                        <a href="#"><span class="icofont-twitter"></span></a>
                        <a href="#"><span class="icofont-facebook"></span></a>
                        <a href="#"><span class="icofont-dribbble"></span></a>
                        <a href="#"><span class="icofont-behance"></span></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
<script>
    new Vue({
        el:"#app",
        data:{
            temp:0,
            pilih:'',
            pilihAngka:'',
            chosenName:'',
            jawaban:'',
            color:"#000000",
            footer:'Timotius Wijayanta/180709845/Kelas D',
            angka:[
                '1','2','3','4','5','6','7','8','9','10'
            ],
        },

        methods: {
            tebak:function(){
                if (this.chosenName==this.pilih){
                    this.jawaban= 'benar';
                }else{
                    this.jawaban='salah';
                    this.temp++;
                }
            },
            restart:function (){
                this.temp=0,
                this.pilih='',
                this.pilihAngka='',
                this.chosenName='',
                this.jawaban='';
            },

            picker:function(){
                var chosenNumber = Math.floor(Math.random() * this.angka.length);
                this.chosenName = this.angka[chosenNumber];
            }
        },
    });
</script>
</html>